{% extends 'userhome.html' %}
{% load static %}

{% block About %}
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 py-5">
                <div class="vinay">
                    <h2>Hospitals list!!!</h2>
                </div>
                <br />
                {% for c in clist %}
                  <a href="/user/viewsubcat/?catname={{c.catname}}">{{c.catname}}</a>
                  <br/><br/>
                {% endfor %}

            </div>
            <div class="col-lg-8">
                <style>
                    #catmain {
                        min-height: 300px;
                        width: 600px;
                        background-color: none;
                    }

                    .catmain_part {
                        height: 150px;
                        width: 200px;
                        background-color: none;
                        float: left;
                        margin-top: 20px;
                    }

                    .catmain_part img {
                        border: 1px solid rgb(161, 24, 3);
                    }

                    .vinay {
                        margin-top: -90px;
                    }
                    .col-lg-8{
                        margin-top: -40px;
                    }
                </style>

                <h2>Hospitals Category >> {{catname}}</h2>

                <div id="catmain">
                    {% for row in sclist %}
                    <a href="/user/viewsearchcampaign/?subcatname={{row.subcatname}}">
                        <div class="catmain_part">

                            <img src="{{media_url}}{{row.subcaticonname}}" height="140" width="190" />
                            <br>
                            <b>{{row.subcatname}}</b>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}