{% extends 'userhome.html' %}

{% load static %}

{% block About %}
<br/>
<center>
<h1>View & Manage Funds Details</h1>

<table class="table table-bordered ">
      <tr>
        <th>TxnID</th>
        <th>UserID</th>
        <th>Amount</th>
        <th>Info</th>
      </tr>
      {% for row in fDetails %}
      <tr>
        <td>{{row.txnid}}</td>
        <td>{{row.uid}}</td>
        <td>{{row.amt}}</td>
        <td>{{row.info}}</td>
      </tr>
      {% endfor %}
</table>
</center>
{% endblock %}