{% extends 'master_template.html' %}
{% load static %}

{% block Navbar %}
<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
            <a href="home.html" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>CARE</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/about/" class="nav-item nav-link">About</a>
                    <a href="/contact/" class="nav-item nav-link">Contact</a>
                </div>
                <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>CARE</h1>
                </a>
                <div class="navbar-nav mr-auto py-0">
                    <a href="/service/" class="nav-item nav-link">Service</a>
                    <a href="/register/" class="nav-item nav-link">Register</a>
                    <a href="/login/" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </nav>
    </div>
</div>
{% endblock %}