{% extends 'master_template.html' %}

{% load static %}

{% block Services %}
<!-- Services Start -->
<div class="container-fluid ">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-title text-center mb-5">Best Services We <br>Provide For Our Clients</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel service-carousel">
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="{% static 'img/medical-04.jpg' %}"
                                style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Qualified Doctors</h5>
                            <p>Dolor nonumy sed eos sed lorem diam amet eos magna. Dolor kasd lorem duo stet kasd justo
                            </p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn
                                More</a>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="img/service-2.jpg"
                                style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Emergency Services</h5>
                            <p>Dolor nonumy sed eos sed lorem diam amet eos magna. Dolor kasd lorem duo stet kasd justo
                            </p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn
                                More</a>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="img/service-3.jpg"
                                style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Accurate Testing</h5>
                            <p>Dolor nonumy sed eos sed lorem diam amet eos magna. Dolor kasd lorem duo stet kasd justo
                            </p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn
                                More</a>
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="img/service-4.jpg"
                                style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Delivery To Any Point</h5>
                            <p>Dolor nonumy sed eos sed lorem diam amet eos magna. Dolor kasd lorem duo stet kasd justo
                            </p>
                            <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
{% endblock %}

{% block Video %}
{% endblock %}

{% block Carousel %}
{% endblock %}

{% block content %}
{% endblock %}

{% block Promotion %}
{% endblock %}

{% block About %}
{% endblock %}

{% block Portfolio %}
{% endblock %}

{% block Products %}
{% endblock %}

{% block Team %}
{% endblock %}

{% block Testimonial %}
{% endblock %}