{% extends 'adminhome.html' %}

{% load static %}

{% block About %}
<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">

      <br />
      <div class="d-flex justify-content-center">
        <fieldset style="border:2px solid black; padding: 50px;">
          <form method="POST" enctype="multipart/form-data" action="/myadmin/addsubcategory/">
            {% csrf_token %}
            <h2>Add Sub Category Here!!!</h2>
            <p style="color:blue;">{{output}}</p>
            <div class="form-group">
              <label for="category">Category Name:</label>
              <select class=" form-control" name="catname">
                <option>Select Category</option>
                {% for row in clist %}
                <option>{{row.catname}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="subcatname">Sub Category Name:</label>
              <input type="text" class="form-control" name="subcatname">
            </div>
            <div class="form-group">
              <label for="caticon">Sub Category Icon:</label>
              <input type="file" class="form-control" name="caticon">
            </div>
            <button type="submit" class="btn btn-success">Add Sub Category</button>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
{% endblock %}